nav {
    top: 0;
    padding: 10px;
    background-color: gray;
    position: fixed;
    height: 30px;
    width: 100%;
    border: none;
    display: inline-block;
    text-align: right;
    float: left;
    font-size: 20px;
}

.logo {
    position: absolute;
    text-align: left;
    left: 10px;    
}

.label {
    margin-top: 75px;
    margin-left: 100px;
    position: relative;
    width: 200px;
}

/*need to figure out this bit.*/
.img {
    width: 30px;
    height: auto;
    margin-left: 600px;
}

/*will probably have to make a table for the prev and next buttons
as well as the Dates and links*/

table.browserref {
    border-collapse: collapse;
    width: 100%;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: 1px solid #d4d4d4;
    text-align: center;
    border-radius: 10px;
}

/*fix ^^^^above^^^ later* (check Anatomy of CSS in lesson 3 - make boxes?)*/

.list {
    margin top: 300px;
    margin-left: 100px;
    list-style: none;
}

